description = "just backup of original template partial"
==
<header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate-light" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-wrap">
                <div class="rd-navbar-aside">
                  <div class="rd-navbar-aside-toggle" data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                  <div class="rd-navbar-aside-content">
                    <ul class="rd-navbar-aside-group list-units">
                      <li>
                        <div class="unit flex-row unit-spacing-xs align-items-center">
                          <div class="unit-left"><span class="icon icon-xxs icon-cello material-icons-phone"></span></div>
                          <div class="unit-body"><a class="link-secondary" href="tel:#">+1 (232) 349–8447</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row unit-spacing-xs align-items-center">
                          <div class="unit-left"><span class="icon icon-xxs-small icon-cello fa-envelope-o"></span></div>
                          <div class="unit-body"><a class="link-secondary" href="mailto:#">info@demolink.org</a></div>
                        </div>
                      </li>
                    </ul>
                    <div class="rd-navbar-aside-group">
                      <ul class="list-inline list-inline-reset">
                        <li><a class="icon icon-circle icon-silver-chalice-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-circle icon-silver-chalice-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>
                        <li><a class="icon icon-circle icon-silver-chalice-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="rd-navbar-search">
                  <form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live" data-search-live-count="6">
                    <div class="rd-search-inner">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input">Search...</label>
                        <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                      </div>
                      <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button>
                </div>
              </div>
              <div class="rd-navbar-group">
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><a class="rd-navbar-brand brand" href="{{ 'index'|page }}"><img src="{{ 'brand.png'|media}}" width="118" height="34" alt=""></a>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <div class="rd-navbar-btn-wrap"><a class="btn btn-smaller btn-cello-outline" href="{{ 'appointment'|page }}">Appointment</a></div>
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="{{ 'index'|page }}">Home</a>
                      </li>
                      <li><a href="{{ 'about-us'|page }}">About Us</a>
                      </li>
                      <li><a href="{{ 'services'|page }}">Services</a>
                      </li>
                      <li><a href="#">Cases</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="{{ 'grid-gallery'|page }}">Grid gallery</a>
                          </li>
                          <li><a href="{{ 'masonry-gallery'|page }}">Masonry gallery</a>
                          </li>
                          <li><a href="{{ 'cobbles-gallery'|page }}">Cobbles gallery</a>
                          </li>
                          <li><a href="{{ 'gallery-item'|page }}">Gallery item</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Blog</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="{{ 'classic-blog'|page }}">Classic blog</a>
                          </li>
                          <li><a href="{{ 'grid-blog'|page }}">Grid blog</a>
                          </li>
                          <li><a href="{{ 'blog-line'|page }}">Blog Line</a>
                          </li>
                          <li><a href="{{ 'masonry-blog'|page }}">Masonry Blog</a>
                          </li>
                          <li><a href="{{ 'blog-post'|page }}">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Pages</a>
                        <ul class="rd-navbar-megamenu">
                          <li>
                            <h5 class="rd-megamenu-header">Cases</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="{{ 'grid-gallery'|page }}">Grid gallery</a></li>
                              <li><a href="{{ 'masonry-gallery'|page }}">Masonry gallery</a></li>
                              <li><a href="{{ 'cobbles-gallery'|page }}">Cobbles gallery</a></li>
                              <li><a href="{{ 'gallery-item'|page }}">Gallery item</a></li>
                            </ul>
                            <h5 class="rd-megamenu-header">Pages</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="{{ 'about-us'|page }}">About us</a></li>
                              <li><a href="{{ 'services'|page }}">Services</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Pages</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="{{ 'appointment'|page }}">Make an Appointment</a></li>
                              <li><a href="{{ 'clients'|page }}">Clients</a></li>
                              <li><a href="{{ 'client-testimonials'|page }}">Client testimonials</a></li>
                              <li><a href="{{ 'our-team'|page }}">Our team</a></li>
                              <li><a href="{{ 'team-member-profile'|page }}">Team member profile</a></li>
                              <li><a href="{{ 'careers'|page }}">Careers</a></li>
                              <li><a href="{{ 'pricing'|page }}">Pricing</a></li>
                              <li><a href="{{ 'faq'|page }}">FAQ</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Extras</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="{{ 'page-404'|page }}">404</a></li>
                              <li><a href="{{ 'page-503'|page }}">503</a></li>
                              <li><a href="{{ 'maintenance'|page }}">Maintenance</a></li>
                              <li><a href="{{ 'coming-soon'|page }}">Coming soon</a></li>
                              <li><a href="{{ 'login'|page }}">Login</a></li>
                              <li><a href="{{ 'register'|page }}">Register</a></li>
                              <li><a href="{{ 'search-results'|page }}">Search results</a></li>
                              <li><a href="{{ 'privacy'|page }}">Terms of use</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Components</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="{{ 'accordion'|page }}">Accordion</a></li>
                              <li><a href="{{ 'buttons'|page }}">Buttons</a></li>
                              <li><a href="{{ 'grid'|page }}">Grid</a></li>
                              <li><a href="{{ 'forms'|page }}">Forms</a></li>
                              <li><a href="{{ 'icons'|page }}">Icons</a></li>
                              <li><a href="{{ 'icon-lists'|page }}">Icon lists</a></li>
                              <li><a href="{{ 'progress-bars'|page }}">Progress bars</a></li>
                              <li><a href="{{ 'tabs'|page }}">Tabs</a></li>
                              <li><a href="{{ 'table-styles'|page }}">Table styles</a></li>
                              <li><a href="{{ 'typography'|page }}">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="{{ 'contacts-us'|page }}">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>