title = "Privacy Policy"
url = "/terms/privacy-policy"
layout = "index"
is_hidden = 0
==
<section class="section-30 section-md-40 section-lg-120 bg-gray-dark page-title-wrap overlay-5 privacy" style="background-image: url({{ 'bg-image-4.jpg'|media }}">
        <div class="container">
          <div class="page-title text-center">
            <h2>Privacy Policy</h2>
          </div>
        </div>
      </section>
      
{% if this.page["breadscrumbs"] %}
<section class="bg-default">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-xl-12">
            
                <ul class='breadscrumbs'>
                    {%for item,url in this.page["breadscrumbs"]%}
                    <li>
                        {% if url!="" %}
                            <a href="{{url}}">{{item}}</a>
                        {% else %}
                            {{item}}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
    
            </div>    
        </div>    
    </div>    
</section>
{% endif %}

<section class="section-xl-bottom-120 privacy">
        <div class="container">

          <div class="row justify-content-md-center row-30">
            <div class="col-xl-10">
             
             
             {{ content('privacy.htm') }}
             
             
             
            </div>
            <div class="col-xl-10"><a class="link-primary" href="mailto:#">privacy@demolink.org</a></div>
          </div>
        </div>
      </section>