title = "citizenships"
url = "/citizenship"
layout = "index"
is_hidden = 0
==
<?php
function onStart()
{
    $this["citizenship_items"] = Db::table('passport_offers_products')->where('category',"citizenship")->where('disabled','<>','1')->get();
    $this->page['breadscrumbs'] = array(
        'Home'=>$this->page['site_link'].'/passport',
        'Citizenship'=>"", 
    );    
}
?>
==
<section class="section-30 section-md-40 section-lg-120 bg-gray-dark page-title-wrap overlay-5" style="background-image: url({{ 'bg-image-4.jpg'|media }});">
    <div class="container">
      <div class="page-title text-center">
        <h2>Citizenship</h2>
      </div>
    </div>
</section>


{% if this.page["breadscrumbs"] %}
<section class="bg-default bg-iron bg-iron-custom">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-xl-12">
            
                <ul class='breadscrumbs'>
                    {%for item,url in this.page["breadscrumbs"]%}
                    <li>
                        {% if url!="" %}
                            <a href="{{url}}">{{item}}</a>
                        {% else %}
                            {{item}}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
    
            </div>    
        </div>    
    </div>    
</section>
{% endif %}



<section class="bg-iron bg-iron-custom bg-whisper-1 bg-decoration-wrap bg-decoration-bottom section-bottom-60 section-xl-top-50 section-xl-bottom-100 bg-default" >
<div class="container bg-decoration-content">
  <div class="row justify-content-md-center">
  
    <div class="col-lg-10 col-xl-12" style="margin-bottom:50px;">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </div>
    
    <div class="col-lg-10 col-xl-12">
      <div class="row align-items-md-end row-40">
      
      
      {%for item in citizenship_items%}
       <div class="col-md-6 col-xl-4">
          <div class="pricing-table">
            <div class="pricing-table-body">
              <h5 class="pricing-table-header"><a href="{{'citizenship'|page({'slug':item.slug})}}">{{item.name}}</a></h5>
              <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">{{item.price|number_format(0, ',') }}</span><span class="small small-bottom"></span></div>
              <ul class="pricing-list">
                {{item.benefits|raw}}
              </ul>
            </div>
            <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="{{'citizenship'|page({'slug':item.slug})}}">Sign up</a></div>
          </div>
        </div>
      {%endfor%}
        
      </div>
    </div>
  </div>
</div>
<div class="bg-decoration-object bg-iron bg-iron-custom"></div>
</section>