title = "citizenship"
url = "/citizenship/:slug"
layout = "index"
is_hidden = 0
==
<?php
function onStart()
{
    $this["record"] = Db::table('passport_offers_products')->where('category',"citizenship")->where('slug',$this->param('slug'))->where('disabled','<>','1')->first();
    $this["submenu"] = Db::table('passport_offers_products')->where('category',"citizenship")->where('disabled','<>','1')->get();
    $this->page['breadscrumbs'] = array(
        'Home'=>$this->page['site_link'].'/passport',
        'Citizenship'=>"citizenship", 
        $this["record"]->name=>"",
    );
}

function onEnd() {
    //if (!$this["record"])
    //    return Redirect::to('/404');    
    /*$this->SeoCmsPage->seo_title = $this["record"]->meta_title." - Citizenship";
    $this->SeoCmsPage->seo_keywords = $this["record"]->meta_keywords;
    $this->SeoCmsPage->seo_description = $this["record"]->meta_description;*/
}
?>
==
<section class="section-30 section-md-40 section-lg-120 bg-gray-dark page-title-wrap overlay-5" style="background-image: url({{ 'bg-image-4.jpg'|media }});">
    <div class="container">
      <div class="page-title text-center">
        <h2>{{record.category|title }}</h2>
      </div>
    </div>
</section>



{% if this.page["breadscrumbs"] %}
<section class="bg-default">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-xl-12">
            
                <ul class='breadscrumbs'>
                    {%for item,url in this.page["breadscrumbs"]%}
                    <li>
                        {% if url!="" %}
                            <a href="{{url}}">{{item}}</a>
                        {% else %}
                            {{item}}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
    
            </div>    
        </div>    
    </div>    
</section>
{% endif %}
              
                  
<section class="bg-decoration-wrap section-xl-top-30 bg-decoration-bottom bg-default">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-xl-12" style="text-align:center;">
                  <ul class="product-subcategory">
                  {%for item in submenu%}
                      <li><a href="{{'citizenship'|page({'slug':item.slug})}}"  class="{% if record.slug==item.slug%}active{% endif %}" >{{item.name}}</a></li>
                  {%endfor%}
                  </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-decoration-wrap bg-decoration-bottom section-xl-top-40 bg-default">
    <div class="container bg-decoration-content">
      <div class="row justify-content-md-center">
        <div class="col-lg-10 col-xl-12">
        
          <div class="row row-40" style="display: -webkit-box;">
          <div class="col-xl-12">
                <h2>
                    {{record.name }}
                </h2>
          </div>
          </div>
        
          <div class="row row-40" style="display: -webkit-box;">
      
            <div class="col-md-12 col-xl-8">
                   {{record.top_description|raw }}
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="pricing-table">
                <div class="pricing-table-body">
                  <h5 class="pricing-table-header">{{record.name}}</h5>
                  <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price"> {{record.price|round(0, 'floor') }}</span><span class="small small-bottom"></span></div>
                  <ul class="pricing-list">
                     {{record.benefits|raw }}
                  </ul>
                </div>
                <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
              </div>
            </div>
            
          </div>
          
          
         <div class="row row-40" style="display: -webkit-box;">
             <div class="col-md-12 col-xl-12">
                      {{record.mid_description|raw }}            
    		 </div>
    	 </div>  
          
          
        <div class="row align-items-md-end row-40" style="display: -webkit-box;">
         <div class="col-md-12 col-xl-12">
            <div class="map">
    			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487523.31609237107!2d-{{record.longitude|raw}}!3d{{record.tatitude|raw}}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c0d6eb96db8d1c1%3A0x276a3788e18b7994!2z0JDQvdGC0LjQs9GD0LAg0Lgg0JHQsNGA0LHRg9C00LA!5e0!3m2!1sru!2slv!4v1533119099178" width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  allowfullscreen></iframe>
    	    </div>
    	  </div>
    	</div>              
          
         <div class="row  row-40" style="display: -webkit-box;">
             <div class="col-md-12 col-xl-12">
                      {{record.bottom_description|raw }}            
    		 </div>
    	 </div>  
          
          
        </div>
      </div>
      <hr style="margin-top: 30px;border: 1px solid #000;" >
    </div>
    <!--<div class="bg-decoration-object bg-iron bg-iron-custom"></div>-->
    
</section>


<!--
      <section class="section-60 section-md-100 bg-image bg-accent">
        <div class="container">
          <div class="row justify-content-lg-center row-30">
            <div class="col-lg-8 col-xl-7">
              <h3>Not Sure Which Plan is Right For You?</h3>
              <p class="text-white" style="max-width: 430px;">If you are in doubt of which plan to opt for, subscribe to our newsletter and we will try to help you make the right decision.</p>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-xl-bigger btn-white-outline" href="contacts-us.html">Subscribe Now</a></div>
          </div>
        </div>
      </section>
      -->
 {% partial 'contact-form' %}