title = "Contact Us"
url = "/contact-us"
layout = "index"
is_hidden = 0
==
<section class="section-30 section-md-40 section-lg-120 bg-gray-dark page-title-wrap overlay-5" style="background-image: url({{ 'bg-image-8.jpg'|media }});">
        <div class="container">
          <div class="page-title text-center">
            <h2>Contact Us</h2>
          </div>
        </div>
</section>

{% if this.page["breadscrumbs"] %}
<section class="bg-default">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-xl-12">
            
                <ul class='breadscrumbs'>
                    {%for item,url in this.page["breadscrumbs"]%}
                    <li>
                        {% if url!="" %}
                            <a href="{{url}}">{{item}}</a>
                        {% else %}
                            {{item}}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
    
            </div>    
        </div>    
    </div>    
</section>
{% endif %}

      <section class="section-60 section-md-top-90 section-md-bottom-100">
        <div class="container">
          <div class="row justify-content-lg-between row-60">
            <div class="col-lg-7 col-xl-6">
              <h3 class="text-spacing--25">Get in Touch</h3>
              <form class="rd-mailform form-modern" id="contact-us-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-30">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="contact-name">Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="contact-email">Email</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap">
                      <div class="textarea-lined-wrap">
                        <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                        <label class="form-label" for="contact-message">Message</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <button class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Send</button>
                  </div>

                </div>
              </form>
            </div>
            <div class="col-lg-5 col-xl-4">
              <div class="inset-lg-right-15 inset-xl-right-0">
                <div class="row row-30">
                  <div class="col-md-10 col-lg-12">
                    <h3 class="text-spacing--25">How to Find Us</h3>
                    <p class="text-black">
                      If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit Shelter at one of our comfortable offices.
                      
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <h5 class="text-spacing--25">Headquarters</h5>
                    <address class="contact-info">
                      <p class="text-uppercase text-black">9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.</p>
                      <dl class="list-terms-inline">
                        <dt>Telephone</dt>
                        <dd><a class="link-black" href="tel:#">+1 800 603 6035</a></dd>
                      </dl>
                      <dl class="list-terms-inline">
                        <dt>E-mail</dt>
                        <dd><a class="link-primary" href="mailto:#">mail@demolink.org</a></dd>
                      </dl>
                    </address>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <h5 class="text-spacing--25">Support Centre</h5>
                    <address class="contact-info">
                      <p class="text-uppercase text-black">9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45</p>
                      <dl class="list-terms-inline">
                        <dt>Telephone</dt>
                        <dd><a class="link-black" href="tel:#">+1 800 603 6035</a></dd>
                      </dl>
                      <dl class="list-terms-inline">
                        <dt>E-mail</dt>
                        <dd><a class="link-primary" href="mailto:#">mail@demolink.org</a></dd>
                      </dl>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--<div class="rd-google-map rd-google-map__model" data-zoom="15" data-x="-73.9874068" data-y="40.643180" data-styles="">-->
      
        <div class="map" style="background: #202020;fill: #202020;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59062.88602778264!2d114.14537287033113!3d22.299557506605215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403e2eda332980f%3A0xf08ab3badbeac97c!2z0JPQvtC90LrQvtC90LM!5e0!3m2!1sru!2slv!4v1533207772040" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	    </div>