title = "index"
url = "/"
layout = "index"
is_hidden = 0
==
<?php
function onStart()
{
    $this["citizenship_items"] = Db::table('passport_offers_products')->where('category',"citizenship")->where('featured','=','1')->where('disabled','<>','1')->get();
    $this["second_passport_items"] = Db::table('passport_offers_products')->where('category',"second passport")->where('featured','=','1')->where('disabled','<>','1')->get();
}

function onEnd() {

}
?>
==
<section>
        <div class="swiper-container swiper-slider swiper-variant-1" data-loop="false" data-autoplay="false" data-simulate-touch="true">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{{ 'home-slider-1-slide-1.jpg'|media }}">
              <div class="swiper-slide-caption">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-lg-7">
                      <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="0s"><span class="sub-head">Pass boundary lines freely and secure or Pass freely to your secure life</span></h2>
                      <p class="text-big slider-text text-black" data-caption-animate="fadeInUp" data-caption-delay="100">We can insure you from any kind of trouble</p>
                      <a class="btn btn-icon btn-icon-right btn-cello btn-custom" data-caption-animate="fadeInUp" data-caption-delay="250" href="#contact-form"><span class="icon icon-xs-smaller fa-angle-right"></span>Get a Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-50 section-lg-75 section-lg-90 section-xl-100">
        <div class="container">
          <div class="row align-items-lg-center">
            <div class="col-lg-6">
              <div class="video-wrap">
                <!--<figure class="overlay-5"><img class="img-responsive" src="{{ 'home-04-571x378.jpg'|media}}" width="571" height="378" alt=""></figure><a class="link-circle link-white" data-lightbox="iframe" href="https://www.youtube.com/watch?v=1UWpbtUupQQ"><span class="icon icon-xl fl-36-slim-icons-play90"></span></a>-->
                <img src="{{ 'blog-classic-5-970x546.jpg'|media }}">
                
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="inset-xl-left-70 inset-xl-right-70">
                <h2><span class="sub-head-small">About Us</span></h2>
                <p class="text-cello">At FlagPass our aim is straightforward: to help our clients enjoy a better lifestyle today while planning for a secure future tomorrow.
We strongly believe in traditional values and virtues such as reliability, respect and integrity, meeting the diverse needs of our clients by offering bespoke, personal advice.</p>
                <div class="row text-cello">
                  <div class="col-md-5">
                    <ul class="list-marked-dotted">
                      <li>Experienced team;</li>
                      <li>Smooth and stress-free process;</li>
                    </ul>
                  </div>
                  <div class="col-md-7">
                    <ul class="list-marked-dotted">
                      <li>Many years of experience;</li>
                      <li>Processing is fast and efficient.</li>
                    </ul>
                  </div>
                </div>
                <div class="button-block"><a class="btn btn-icon btn-icon-right btn-cello-outline btn-custom" data-caption-animate="fadeInUp" data-caption-delay="250" href="{{'about-us'|page}}"><span class="icon icon-xs-smaller fa-angle-right"></span>Read More</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      
      
      
      <div id="citizenship" style="position:relative;top:-50px;"></div>


      <section class="bg-iron bg-iron-custom section-60 section-md-90 section-xl-bottom-15 bg-default" style="padding:45px 15px 0px 15px">
        <div class="container">
            <div style="text-align:center;">
            <h2><span class="sub-head-small">Most popular products</span></h2>
            </div>
            <h3 class="text-spacing-25">Citizenship</h3>
        </div>
      </section>

      <section class="bg-iron bg-iron-custom bg-whisper-1 bg-decoration-wrap bg-decoration-bottom section-bottom-60 section-xl-top-100 section-xl-bottom-100 bg-default" style="padding:30px 15px 0px 15px">
        <div class="container bg-decoration-content">
          <div class="row justify-content-md-center">
            <div class="col-lg-10 col-xl-12">
              <div class="row align-items-md-end row-40">
              
              
              {%for item in citizenship_items%}
               <div class="col-md-6 col-xl-4">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header"><a href="{{'citizenship'|page({'slug':item.slug})}}">{{item.name}}</a></h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">{{item.price|number_format(0, ',') }}</span><span class="small small-bottom"></span></div>
                      <ul class="pricing-list">
                        {{item.benefits|raw}}
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-icon btn-icon-right btn-primary-contrast btn-custom btn-block" href="{{'citizenship'|page({'slug':item.slug})}}">Sign up</a></div>
                  </div>
                </div>
              {%endfor%}
              <!--
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">free</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">0</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Life Insurance</li>
                        <li>Basic Coverage</li>
                        <li>Home Insurance</li>
                        <li>Personal Account</li>
                        <li>Phone support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Starter</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">59</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Car Insurance</li>
                        <li>Increased Coverage</li>
                        <li>Travel Insurance</li>
                        <li>Free Mobile App</li>
                        <li>Online Support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table pricing-table-preferred">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Business</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">99</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Business Insurance</li>
                        <li>Advanced Coverage</li>
                        <li>Law Insurance</li>
                        <li>Free Insurance Report</li>
                        <li>24/7 Support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Ultimate</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">199</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Umbrella Insurance</li>
                        <li>Full Coverage</li>
                        <li>Flood Insurance</li>
                        <li>Personal Assistant</li>
                        <li>Premium Support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                -->
                
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-4 col-lg-3" style="text-align: center;">
                 <div class="button-block"><a class="btn btn-icon btn-icon-right btn-cello-outline btn-custom" data-caption-animate="fadeInUp" data-caption-delay="250" href="{{'citizenships'|page}}"><span class="icon icon-xs-smaller fa-angle-right"></span>More products</a></div>   
            </div>
          </div>
        </div>
        <div class="bg-decoration-object bg-iron bg-iron-custom"></div>
      </section>


 <div id="second-passport" style="position:relative;top:-50px;"></div>
      <section class="bg-iron bg-iron-custom section-60 section-md-90 section-xl-bottom-15 bg-default" style="padding:50px 15px 0px 15px">
        <div class="container">
            <div style="border:1px solid #000;"></div>
            <h3 class="text-spacing--25">Second passport</h3>
        </div>
      </section>


      <section class="bg-iron bg-iron-custom bg-decoration-wrap bg-decoration-bottom section-bottom-60 section-xl-top-100 section-xl-bottom-100 bg-default" style="padding:30px 15px 50px 15px">
        <div class="container bg-decoration-content">
          <div class="row justify-content-md-center">
            <div class="col-lg-10 col-xl-12">
              <div class="row align-items-md-end row-40">
              
              
              {%for item in second_passport_items%}
               <div class="col-md-6 col-xl-4">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header"><a href="{{'second-passport'|page({'slug':item.slug})}}">{{item.name}}</a></h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">{{item.price|number_format(0, ',') }}</span><span class="small small-bottom"></span></div>
                      <ul class="pricing-list">
                        {{item.benefits|raw}}
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-icon btn-icon-right btn-primary-contrast btn-custom btn-block" href="{{'second-passport'|page({'slug':item.slug})}}">Sign up</a></div>
                  </div>
                </div>
              {%endfor%}
              
              <!--
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">free</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">0</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Life Insurance</li>
                        <li>Basic Coverage</li>
                        <li>Home Insurance</li>
                        <li>Personal Account</li>
                        <li>Phone support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Starter</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">59</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Car Insurance</li>
                        <li>Increased Coverage</li>
                        <li>Travel Insurance</li>
                        <li>Free Mobile App</li>
                        <li>Online Support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table pricing-table-preferred">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Business</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">99</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Business Insurance</li>
                        <li>Advanced Coverage</li>
                        <li>Law Insurance</li>
                        <li>Free Insurance Report</li>
                        <li>24/7 Support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Ultimate</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">199</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li>Umbrella Insurance</li>
                        <li>Full Coverage</li>
                        <li>Flood Insurance</li>
                        <li>Personal Assistant</li>
                        <li>Premium Support</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-primary btn-block" href="register.html">Sign up</a></div>
                  </div>
                </div>
                
                -->
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-4 col-lg-3" style="text-align: center;">
            
                <div class="button-block"><a class="btn btn-icon btn-icon-right btn-cello-outline btn-custom" data-caption-animate="fadeInUp" data-caption-delay="250" href="{{'second-passports'|page}}"><span class="icon icon-xs-smaller fa-angle-right"></span>More products</a></div>            
            

            </div>
          </div>          
        </div>
        <div class="bg-decoration-object bg-iron bg-iron-custom"></div>
      </section>

      
      
      
      
      
      {% partial 'contact-form' %}