==
<section class="section-30 section-md-bottom-40 section-lg-12 faq" id="contact-form">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-lg-7">
					<div class="title">
						<h2>If you would like to get more information, please contact our professionals by submitting callback form</h2>
						<!--<h4>A Tribute To Those Who Served as Executive Secretary and<br> Treasurer for the American Finance Association.</h4>-->
					</div>
<div class="panel-body" style="margin-top:20px;">
									<p>Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros </p>
									<p>what orem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros </p>

								</div>



<!--

					<div class="panel-group wrap" id="bs-collapse">
						<div class="panel">
							<div class="panel-heading active">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#bs-collapse" href="#one"> How can i get help by beadvices?</a></h4>
							</div>
							<div id="one" class="panel-collapse collapse show">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros </p>
									<p>what orem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros </p>

								</div>
							</div>

						</div>
					

						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#bs-collapse" href="#two">justo duis lacus iaculis eu</a>   
										</h4>
							</div>
							<div id="two" class="panel-collapse collapse">
								<div class="panel-body">
									Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?

								</div>

							</div>
						</div>
					

						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#bs-collapse" href="#three">How much exprience about beadvices?</a>
										</h4>
							</div>
							<div id="three" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros </p>
									<p>what orem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore. Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus. Vitae eros </p>
								</div>
							</div>
						</div>
					

					</div>
					-->
					<!-- end of #bs-collapse  -->


					<!-- end of container -->
				</div>
				<div class="col-sm-5 col-lg-5">
					<div class="faq-from">
						<div class="faq-title">
							<h2> Request a call back</h2>
						</div>
						<!-- form -->
						
						<form 
                        data-request="onSendUniversalForm"
                        data-request-success="$('#dialog-thankyou').modal()"
                        data-request-update="'ajax-response': '.thankyou-dialog .ui-dialog-title'"
                        data-request-validate
                        data-request-flash	
                        
						name="ajax-form" 
						id="call-back-form"
						class="form-horizontal">
						
                            <input type="hidden" name='url' value="{{ ''| page }}">
                            <input type="hidden" name='product_type' value="73">
                            <input type="hidden" name='product_name' value="{{ record.name }}">    
						
						
							<div class="form-group">
								<input class="form-control has-error" id="firstname" name="firstname" placeholder="Your name" value="" required="required" type="text">
							</div>
							<!-- /Form-name -->
							<div class="form-group">
								<input class="form-control" id="email" name="email" placeholder="Your email" value="" required="required" type="email">
							</div>
							<!-- /Form-email -->
							<div class="form-group">
								<input class="form-control" id="subject" name="subject" placeholder="Your subject" value="" required="required" type="text">
							</div>
							<!-- /Form-subject -->
							<div class="form-group">
								<textarea class="form-control" id="message" name="message" rows="5" placeholder="Message"  required="required"></textarea>
							</div>
							<!-- /Form Msg -->
							<div class="row">
								<div class="col-md-12">
									<div class="text-center">
									<button type="submit" class="btn btn-icon btn-icon-right btn-cello-outline btn-custom fadeInUp animated" id="send" data-caption-animate="fadeInUp" data-caption-delay="250">Submit<span class="icon icon-xs-smaller fa-angle-right"></span></button>
										<!--
										<a class="btn btn-icon btn-icon-right btn-cello-outline btn-custom fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="250" href="#contact-form"  data-toggle="modal" data-target="#dialog-thankyou"><span class="icon icon-xs-smaller fa-angle-right"></span>Submit</a>
										-->
									</div>
								</div>
								<!-- /col -->
							</div>
							<!-- /row -->
						</form>
						<!-- /form -->
					</div>
				</div>
			</div>
		</div>
	</section>