==
<footer class="page-foot bg-cello">
        <div class="container">
          <hr class="divider-bismark-04">
        </div>
        <section class="section-35">
          <div class="container text-center">
            <div class="row flex-row-md-reverse justify-content-md-between align-items-md-center row-15">
              <!--<div class="col-md-6 text-md-right">
                <div class="group-sm group-middle">
                  <p class="font-italic text-white">Follow Us:</p>
                  <ul class="list-inline list-inline-reset">
                    <li><a class="icon icon-circle icon-blue-bayoux icon-xxs-smallest fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-circle icon-blue-bayoux icon-xxs-smallest fa fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-circle icon-blue-bayoux icon-xxs-smallest fa fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>-->
              <div class="col-md-12 ">
                <p class="rights text-white"><span class="copyright-year"></span><span>&nbsp;&#169;&nbsp;</span><span>Shelter.&nbsp;</span>
                <ul class="list-marked-variant-3">
                        <li><a href="{{"terms/privacy-policy"|page}}">Privacy Policy</a></li>
                        <li><a href="{{"terms/cookies"|page}}">Cookie Policy</a></li>
                        <li><a href="{{"terms/terms"|page}}">Terms of use</a></li>
                      </ul>
              </div>
            </div>
          </div>
        </section>
      </footer>