==
<header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate-light" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-wrap">
                <div class="rd-navbar-aside">
                  <div class="rd-navbar-aside-toggle" data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                  <div class="rd-navbar-aside-content">
                    <ul class="rd-navbar-aside-group list-units">
                      <li>
                        <div class="unit flex-row unit-spacing-xs align-items-center">
                          <div class="unit-left"><span class="icon icon-xxs icon-cello material-icons-phone"></span></div>
                          <div class="unit-body"><a class="link-secondary" href="tel:#">+1 (888) 123–4567</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row unit-spacing-xs align-items-center">
                          <div class="unit-left"><span class="icon icon-xxs-small icon-cello fa-envelope-o"></span></div>
                          <div class="unit-body"><a class="link-secondary" href="mailto:#">info@citizenship.com</a></div>
                        </div>
                      </li>
                    </ul>
                    <div class="rd-navbar-aside-group">

                    </div>
                  </div>
                </div>
                <!--<div class="rd-navbar-search">
                  <form class="rd-search" action="https://www.google.lv/search?q=site:www.gov.uk+get+citizenship" method="GET" data-search-live="rd-search-results-live" data-search-live-count="6">
                    <div class="rd-search-inner">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input">Search...</label>
                        <input class="form-input" id="rd-search-form-input" type="text" name="q" autocomplete="off">
                      </div>
                      <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button>
                </div>-->
              </div>
              <div class="rd-navbar-group">
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><a class="rd-navbar-brand brand" href="{{ 'index'|page }}"><img src="{{ 'brand.png'|media}}" width="118" height="34" alt=""></a>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="{% if this.page.id=='index'%}active{% endif %}"><a href="{{ 'index'|page }}">Home</a>
                      </li>
                      <li class="{% if this.page.id=='about-us'%}active{% endif %}"><a href="{{ 'about-us'|page }}">About Us</a>
                      </li>

                      
                      <li class="{% if this.page.id=='citizenships' or this.page.id=='citizenship'%}active{% endif %}"><a href="{{ 'citizenships'|page }}" id="citizenship-link">Citizenship</a>
                        <ul class="rd-navbar-dropdown">
                        
                        
                          {%for item in citizenship_menu%}
                              <li><a href="{{'citizenship'|page({'slug':item.slug})}}">{{item.name}}</a></li>
                          {%endfor%}
                        </ul>
                      </li>
                      <li class="{% if this.page.id=='second-passports' or this.page.id=='second-passport'%}active{% endif %}"><a href="{{ 'second-passports'|page }}">Second passport</a>
                        <ul class="rd-navbar-dropdown">
                          {%for item in second_passport_menu%}
                              <li><a href="{{'second-passport'|page({'slug':item.slug})}}">{{item.name}}</a></li>
                          {%endfor%}
                        </ul>
                      </li>
                      <li class="{% if this.page.id=='contact-us'%}active{% endif %}"><a href="{{ 'contact-us'|page }}">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>