<p><span>Effective as of May 25, 2018,<strong>&nbsp;Offshorelicense LTD</strong>, (“Offshorelicense”) have updated our Cookie Policy.&nbsp;</span></p>

<p dir="ltr"><strong>1. Intro</strong></p>

<p dir="ltr"><span>This Cookie Policy (“Policy”) explains that we believe in being open and clear about how we use your information. In the spirit of transparency, this Policy provides detailed information about how and when we use cookies on our Website. For the purposes of this Policy, the term, “Website”, shall refer collectively to&nbsp;</span><a href="http://www.offshorelicense.com">www.offshorelicense.com</a></p>

<p dir="ltr"><span><strong>2. Does Offshorelicense use Cookies?</strong></span></p>

<p dir="ltr">Yes. Offshorelicense analytics services or providers use cookies and other technologies to ensure everyone who uses the Websites has the best possible experience.</p>

<p dir="ltr"><span><strong>3. What is a Cookie?</strong></span></p>

<p dir="ltr">A cookie is a small text file that is placed on your hard drive by a web page server. Cookies contain information that can later be read by a web server in the domain that issued the cookie to you. Some of the cookies will only be used if you use certain features or select certain preferences, and some cookies will always be used. You can find out more about each cookie by viewing our current cookie list below.&nbsp;</p>

<p dir="ltr"><span><strong>4. Why does Offshorelicense use Cookies?</strong></span></p>

<p dir="ltr">When you visit our Websites, we may place a number of cookies in your browser. These are know as First Party Cookies and are required to enable to hold session information as you navigate from page to page within the website. For example, we use cookies on our Websites to understand visitor and user preferences, improve their experience, and track and analyze usage, navigational and other statistical information. You can control the use of cookies at the individual browser level. If you elect not to activate the cookie or to later disable cookies, you may still visit our Websites, but your ability to use some features or areas of the Websites may be limited.</p>

<p dir="ltr"><span><strong>5. How to disable Cookies</strong></span></p>

<p dir="ltr">You can generally activate or later de-activate the use of cookies through a functionality built into your web browser. To learn more about how to control cookie settings through your browser:</p>

<p dir="ltr"><span>Click&nbsp;</span><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">here</a><span>&nbsp;</span>to learn more about the “Private Browsing” setting and managing cookie settings in Firefox;</p>

<p dir="ltr"><span>Click&nbsp;</span><a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647">here</a><span><strong>&nbsp;</strong></span>to learn more about “Incognito” and managing cookie settings in Chrome;</p>

<p dir="ltr"><span>Click</span>
	<a href="http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies"><span>here</span></a> to learn more about “InPrivate” and managing cookie settings in Internet Explorer; or</p>

<p dir="ltr"><span>Click&nbsp;</span><a href="https://support.apple.com/kb/ph21411?locale=en_US">here</a><span>&nbsp;to learn more about “Private Browsing” and managing cookie settings in Safari.</span></p>

<p dir="ltr">If you want to learn more about cookies, or how to control, disable or delete them, please visit
	<a href="http://www.aboutcookies.org/"></a><a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a> for detailed guidance. In addition, certain third party advertising networks, including Google, permit users to opt out of or customize preferences associated with your internet browsing. To learn more about this feature from Google, click<a href="https://support.google.com/adsense/answer/142293?hl=en">&nbsp;here</a></p>

<p dir="ltr"><span>Many jurisdictions require or recommend that website operators inform users/visitors as to the nature of cookies they utilize and, in certain circumstances, obtain the consent of their users to the placement of certain cookies.</span></p>

<p dir="ltr">We may use any of the following categories of cookies on the Websites as detailed below.</p>

<p dir="ltr"><strong>Each cookie falls within one of the four following categories:</strong></p>

<table>
	<tbody>
		<tr>
			<td>

				<p dir="ltr"><strong>Category</strong></p>
			</td>
			<td>

				<p dir="ltr"><span><strong>Description</strong></span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">Essential &nbsp; &nbsp; Cookies</p>
			</td>
			<td>

				<p dir="ltr"><span>Essential cookies (First Party Cookies) are sometimes called “strictly necessary” as without them we cannot provide many services that you need on the Website. For example, essential cookies help remember your preferences as you move around the Website.</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">Analytics &nbsp; Cookies</p>
			</td>
			<td>

				<p dir="ltr"><span>These cookies track information about visits to the Websites so that we can make improvements and report our performance. For example: analyze visitor and user behavior so as to provide more relevant content or suggest certain activities. They collect information about how visitors use the Websites, which site the user came from, the number of each user’s visits and how long a user stays on the Websites. We might also use analytics cookies to test new ads, pages, or features to see how users react to them.</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">Functionality or &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Preference &nbsp; Cookies</p>
			</td>
			<td>

				<p dir="ltr"><span>During your visit to the Websites, cookies are used to remember information you have entered or choices you make (such as your username, language or your region) on the Websites. They also store your preferences when personalizing the Websites to optimize your use of Offshorelicense, for example, your preferred language. These preferences are remembered, through the use of the persistent cookies, and the next time you visit the Websites you will not have to set them again.</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">Targeting or Advertising &nbsp; Cookies</p>
			</td>
			<td>

				<p dir="ltr"><span>These Third Party Cookies are placed by third party advertising platforms or networks in order to, deliver ads and track ad performance, enable advertising networks to deliver ads that may be relevant to you based upon your activities (this is sometimes called “behavioral” “tracking” or “targeted” advertising) on the Websites. They may subsequently use information about your visit to target you with advertising that you may be interested in, on the Websites and other websites. For example, these cookies remember which browsers have visited the Websites.</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p dir="ltr"><strong>&nbsp;</strong></p>

<p dir="ltr"><strong>List of Cookies used on the Websites:</strong></p>

<table>
	<tbody>
		<tr>
			<td>

				<p dir="ltr"><span><strong>Website Name</strong></span></p>
			</td>
			<td>

				<p dir="ltr"><strong>Cookie Name</strong></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span><strong>Cookie Purpose</strong></span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><strong>Cookie Duration</strong></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span><strong>Category</strong></span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com &nbsp;</p>
			</td>
			<td>

				<p dir="ltr"><span>Google Analytics</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Collects information about how visitors use the Websites, which website the user came from, the number of each user’s visits and how long a user stays on the Websites</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>2 years</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Analytics</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">Hotjar</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Analytics Tool that gives us heat maps and click data</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">5 years</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Analytics</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com</p>
			</td>
			<td>

				<p dir="ltr"><span>Facebook for Developers</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Enable visitors to share website pages and content through third party social networking and other websites. The companies that serve these cookies may also use visitors information to serve targeted advertising on other websites.</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>2 years</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Essential</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">Google Adwords Conversion</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Advertising pixel for prospecting and retargeting</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">540 days</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Targeting/Advertising</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com</p>
			</td>
			<td>

				<p dir="ltr"><span>Twitter Advertising</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Advertising</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>2 years</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Essential</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">LinkedIn</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Advertising</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">Session</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Targeting/Advertising</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com</p>
			</td>
			<td>

				<p dir="ltr"><span>Facebook</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Advertising&nbsp;</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>180 days</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Targeting/Advertising</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">Google Tag Manager</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Traffic and visitor behavior measurement</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">2 years</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Analytics</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com</p>
			</td>
			<td>

				<p dir="ltr"><span>Facebook Business</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Used for creating custom audience on Facebook for advertising purpose</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>2 years</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Targeting/Advertising</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">Facebook Impression</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Advertising</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">2 years</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Targeting/Advertising</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com</p>
			</td>
			<td>

				<p dir="ltr"><span>Twitter Analytics</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Web analytics</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>2 years</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Analytics</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">Google Dynamic Remarketing</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Advertising</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">180 days</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Targeting/Advertising</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com&nbsp;</p>
			</td>
			<td>

				<p dir="ltr"><span>Google Analytics</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Session Google Analytics</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>10 minutes</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Analytics</p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr"><span>&nbsp;offshorelicense.com</span></p>
			</td>
			<td>

				<p dir="ltr">Zopim</p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr"><span>Used for faster contact with visitor. Identifies user location.&nbsp;</span></p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr">30 days</p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr"><span>Targeting/Advertising</span></p>
			</td>
		</tr>
		<tr>
			<td>

				<p dir="ltr">&nbsp;offshorelicense.com</p>
			</td>
			<td>

				<p dir="ltr"><span>Semrush</span></p>
			</td>
			<td style="width: 54.246%;">

				<p dir="ltr">Traffic and visitor behavior measurement</p>
			</td>
			<td style="width: 9.1468%;">

				<p dir="ltr"><span>2 years</span></p>
			</td>
			<td style="width: 13.9683%;">

				<p dir="ltr">Analytics</p>
			</td>
		</tr>
	</tbody>
</table>

<p dir="ltr"><strong>&nbsp;</strong></p>

<p dir="ltr"><span><strong>6. Cookies Subject to Change</strong></span></p>

<p dir="ltr">The content of this Policy is for your general information and use only. These cookies are subject to change without notice. You acknowledge that this information may contain inaccuracies or errors and is subject to change and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>

<p dir="ltr"><span><strong>7. Updating This Policy</strong></span></p>

<p dir="ltr">We encourage you to periodically review this page for the latest information on the Policy. Your continued use of the Website constitutes your agreement to be bound by such changes to this Policy. Your only remedy, if you do not accept the terms of this Policy, is to discontinue use of and access to the Website.</p>