<p>
	<br>
</p>

<p dir="ltr">This privacy policy applies to
	<a href="https://offshorelicense.com/"></a><a href="https://offshorelicense.com/">https://offshorelicense.com/</a> , owned and operated by Offshorelicense LTD in Hong Kong (“Offshorelicense”, “We”, “Us”). This privacy policy describes how Offshorelicense collects and uses the personal information you provide on our website. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.</p>

<p dir="ltr"><span>Data Controller: Offshorelicense LTD, info@offshorelicense.com</span>
</p>

<p dir="ltr">Offshorelicense is seeking to protect your privacy and developing technology that gives you the most powerful and safe online experience. This Statement of Privacy applies to the Offshorelicense Web site and governs data collection and usage. By using the Offshorelicense website, you consent to the data practices described in this statement.</p>

<h1 dir="ltr"><strong>1. Your Rights&nbsp;</strong></h1>

<p>
	<br>Offshorelicense is responsible for protecting your rights in accordance with the General Data Protection Regulation and other relevant legislation. Accordingly, you are entitled to the following rights:</p>

<ul>
	<li dir="ltr">

		<p dir="ltr">Obtain access to your personal data;</p>
	</li>
	<li dir="ltr">

		<p dir="ltr">Require us to correct the incorrect, incomplete or misleading information we hold about you;</p>
	</li>
	<li dir="ltr">

		<p dir="ltr"><span>Require us to permanently delete your personal data;</span></p>
	</li>
	<li dir="ltr">

		<p dir="ltr">Require us to perform personal data processing for only restricted purposes specified by you;</p>
	</li>
	<li dir="ltr">

		<p dir="ltr">Require us not to conduct marketing activities based on your information;</p>
	</li>
	<li dir="ltr">

		<p dir="ltr">Require us to get your personal data in a reasonably structured format specified by you, including transferring your personal data to another responsible person.</p>
	</li>
</ul>

<h1 dir="ltr"><strong>2. Information Collection and Use</strong></h1>

<p>
	<br>How we collect your data:</p>

<ul>
	<li dir="ltr">

		<p dir="ltr"><span>From the information you provide to us in one of the following methods:&nbsp;</span></p>
	</li>
	<li dir="ltr">

		<p dir="ltr">Telephone, email, skype or other forms of electronic communication</p>
	</li>
	<li dir="ltr">

		<p dir="ltr"><span>Application form or other forms required to be filled out during services conducting process.</span></p>
	</li>
	<li dir="ltr">

		<p dir="ltr">Other publicly available sources or other third parties, mainly used to check and validate your background.</p>
	</li>
</ul>

<p dir="ltr"><span>We collect the following personal information from you:</span></p>

<ul>
	<li dir="ltr">

		<p dir="ltr">Contact Information, such as name, email address, mailing address, phone number, skype name.</p>
	</li>
</ul>

<p dir="ltr"><span>We use this information only with an intention to contact you regarding your interest in our products and services.</span></p>

<p dir="ltr"><span>Mailing list or newsletter</span></p>

<p dir="ltr"><span>By registering on the mailing list or for the newsletter, the Clients’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning Offshorelicense. Your email address will also be added to this list as a result of submitting a webform / request to get a service from Offshorelicense.</span></p>

<p dir="ltr">Personal Data collected: email address, first name, last name, skype and telephone.</p>

<h1 dir="ltr">
	<br><strong>3. Information Sharing</strong></h1>

<p dir="ltr">
	<br>We will share your personal information with third parties only in the ways that are described in this privacy policy.</p>

<p dir="ltr">Service Providers</p>

<p dir="ltr">We may provide your personal information to companies that provide services to help us with our business activities such as offering client service. These companies are authorized to use your personal information only as necessary to provide these services.</p>

<p dir="ltr">Legal Disclaimer</p>

<p dir="ltr">We may also disclose your personal information:</p>

<ul>
	<li dir="ltr">

		<p dir="ltr"><span>As required by law, such as to comply with a subpoena, or similar legal process;</span></p>
	</li>
	<li dir="ltr">

		<p dir="ltr">When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</p>
	</li>
	<li dir="ltr">

		<p dir="ltr"><span>If Offshorelicense is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our website of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information;&nbsp;</span></p>
	</li>
	<li dir="ltr">

		<p dir="ltr">To any other third party with your prior written consent to do so.</p>
	</li>
</ul>

<h1 dir="ltr"><strong>4. User Access and Choice</strong></h1>

<p dir="ltr">
	<br>If your personal information changes, you may correct, update, amend or delete it by emailing our Support at info@offshorelicense.com or by contacting us by telephone or postal mail at the contact information listed below or on the <a href="/about">Contact Us</a> page. We will respond to your request within 30 days. We will retain your information for as long as needed to provide you services. We will also retain and use your information as necessary to comply with our legal obligations, resolve disputes and enforce our agreements. If you request that we delete your personal information, we will notify you if we are unable to do so and why.</p>

<p dir="ltr">Opt-out Preferences</p>

<p dir="ltr">If you wish to subscribe to our newsletter on the main site or when you become an Offshorelicense’s client, we will use your name and email address to send you non-transactional, promotional emails from time to time. Out of respect for your privacy, you may choose to stop receiving these emails by following the unsubscribe instructions included in these emails or you can contact us.</p>

<h1 dir="ltr">
	<br><strong>5. Tracking Technologies / Cookies</strong></h1>

<p dir="ltr">
	<br><span>Use of Cookies&nbsp;</span></p>

<p dir="ltr"><span>Cookies are small files placed on your computer or machine’s hard drive, or in your browser memory, when you visit our website. We place them there to improve your user experience of the site. They tell us what parts of the site you visit so we can work out what you do and don’t like and what’s most relevant to you. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</span></p>

<p dir="ltr">To ensure you get the best from our website, we advise that users keep cookies active on their machine whilst visiting our website.</p>

<p dir="ltr">Analytics / Log Files</p>

<p dir="ltr">As is true of most websites, we gather certain information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type, Internet Service Provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data.</p>

<p dir="ltr"><span>We use this information, which does not identify individual users, to analyze trends, to administer the site, to track users’ movements around the site and to gather demographic information about our user base as a whole. We do not link this automatically-collected data to personally identifiable information.</span></p>

<p dir="ltr">The use of tracking technologies by our service providers, technology partners or other third party assets (such as those involved in tracking the success of advertising) on the site is not covered by our privacy policy. These third parties may use cookies, clear gifs, images and scripts to help them better manage their content on our site. We do not have access or control over these technologies. We do not tie the information gathered to our clients’ or users’ personally identifiable information.</p>

<p dir="ltr"><span>For more information about Cookie Policy please click&nbsp;</span><a class="oc-link-green" href="https://www.offshorelicense.com/terms/cookie"><span>here</span></a></p>

<h1 dir="ltr">
	<br><strong>6. Data Retention</strong></h1>

<p dir="ltr">
	<br><span>Personal data will be deleted when they are no longer relevant for the purposes of fulfilling services, which includes newsletter mailing.</span></p>

<p dir="ltr">Normally, we retain your data for five years after termination of our contractual relationship, unless we are required to retain your personal data by anti-money laundering legislation or to comply with other laws to protect Offshorelicense’s legal interests.</p>

<h1 dir="ltr">
	<br><strong>7. Additional Information&nbsp;</strong></h1>

<p dir="ltr">
	<br><span>Social Media Widgets&nbsp;</span></p>

<p dir="ltr"><span>Our website includes social media features, such as the Facebook, Twitter, Linked In and Google+ buttons. These features may collect your IP address, which page you are visiting on our site and may set a cookie to enable the feature to function properly. Social media features are hosted by a third party. Your interactions with these features are governed by the privacy policy of the company providing it.<strong>&nbsp;</strong></span></p>

<p dir="ltr"><span>Changes to This Policy&nbsp;</span></p>

<p dir="ltr"><span>We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by means of a notice on this site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.</span></p>