<p>
	<br>
</p>

<p dir="ltr">This site is the property of <strong>Offshorelicense LTD</strong><span><strong>.</strong></span>, a company registered in Hong Kong with a registration number <span><strong>2363657</strong></span>. The term ‘<strong>Offshorelicense</strong>’, ‘us’ or ‘we’ refers to the owner of this website. The term ‘you’ refers to the user or viewer of our website. The use of this website is subject to the following Terms of Use: By accessing or using our website you agree to be bound by these Terms of Use. These Terms of Use affect your rights and obligations. THE WEB SITE AND RELEVANT SERVICES ARE NOT FOR USE BY ANYONE UNDER THE AGE OF 16. If you do not agree to be bound by these Terms of Use, do not access or use our website.</p>

<p dir="ltr"><span>The content of the pages of this website owned and/or operated by <strong>Offshorelicense</strong></span><span>. The content and information of the website is for your general information and use only. Any information, opinion, commentary, education or research-based material on our website is for information and marketing purposes only and is not, in any circumstances, intended to be an offer or recommendation. All our products and services offered by <strong>Offshorelicense</strong></span><span>&nbsp;are subjected to separate terms and conditions, policies and disclaimers governing their use. These Terms of Use are to be read by you together with any terms, conditions, policies and disclaimers published on our web sites or provided by our employees upon your request, and they supersede any prior understanding or agreements, written or oral. The information, material and content provided in the pages of our sites may be changed at any time without notice.</span></p>

<p dir="ltr">Neither we, nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on our website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. Your use of any information or materials on our websites is entirely at your own risk, for which we shall not, in any case, be liable or responsible. It shall be your own responsibility to ensure that any products, services or information available through our websites meet your specific requirements and are permitted by the laws of the country of your domicile. We shall not be liable for, and you agree not to hold us or liable for any damage or loss caused to you by the use of any inaccurate or wrong information, analysis, opinion and commentary provided in our website.</p>

<p dir="ltr"><span>This website contains material which is owned by or licensed to&nbsp;</span><strong>Offshorelicense</strong><span>. Copyright in the content of each of our sites (including without limitation all images, illustrations, designs, icons, the ‘look’ and ‘feel’, color combinations, button shapes, layout, design, graphical elements, arrangement of items, written and other materials, HTML and other code and all copyrightable or otherwise legally protectable elements on our sites) are legally protected under intellectual property laws. The modification, copying, distribution or incorporation into any other work of part or all of any of our sites, or the content in any form, is prohibited, except that you may print or download extracts for your non-commercial, informational and personal use only. All rights are hereby reserved.</span></p>

<p dir="ltr">Unauthorized use of our websites by you may give the opportunity to rise to a claim against you for damages and/or constitute a criminal offence.</p>

<p dir="ltr"><span>From time to time our websites may also include links to other websites. These links are provided for your convenience and further information. They do not signify that we endorse or approve in any way those linked websites. We expressly disclaim any responsibility for the content of the linked websites.</span></p>

<p dir="ltr">You may not create a link to our websites from another website or document without our prior written consent.</p>

<p dir="ltr"><span>Messages sent through our sites are considered to be messages sent over the Internet and cannot be guaranteed to be completely secure as they are subject to possible interception, loss, or possible alteration. We are not responsible and will not be liable to you or anyone else for any damages or otherwise in connection with any message sent by you to us or any message sent by us to you over the Internet.</span></p>

<p dir="ltr">&nbsp;You agree to defend us against all claims, demands, or actions arising from or incurred as a result of your breach of these Terms of Use and you shall indemnify and hold us harmless from and against any expenses, losses, damages and costs, including but not limited to reasonable legal costs and disbursements, resulting from any such claims. If, for any reason, you are unable or unwilling to agree to all of our terms, policies or disclaimers, please immediately discontinue using or attempting to use of our websites, because if you continue, it will be considered that you agree to all the terms, conditions, policies and disclaimers referred to in these Terms of Use.</p>